/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
/******************** global styles *****************/
header .logo_subtitle {
  margin-bottom: 50px;
}
header form {
  width: 96%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid white;
  background: white;
}
header form input {
  padding: 10px 0 10px 15px;
  border: none;
  width: 80%;
  outline-width: 0;
}
header form input::placeholder {
  color: grey;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.2em;
}
header form button {
  height: 52px;
  border: none;
  margin: 4px 5px 4px 0;
  position: relative;
  width: 135px;
  font-family: "Aleo", serif;
  background: #5373FD;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
header form button:after {
  content: url("../../images/search.svg");
  position: absolute;
  left: 6%;
}
@media screen and (min-width: 700px) {
  header form {
    width: 650px;
  }
}
@media screen and (min-width: 509px) {
  header .for_xs {
    display: none;
  }
}
@media screen and (min-width: 375px) and (max-width: 508px) {
  header form > button {
    display: none;
  }
  header form > input {
    width: 100%;
  }
  header .for_xs {
    position: relative;
    width: 130px;
    height: 42px;
    background: #5373FD;
    font-family: "Aleo", serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 30px;
  }
  header .for_xs::after {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 6%;
    content: url("../../images/search.svg");
  }
}

/************************* global ***************/
header {
  box-sizing: border-box;
  background-position-x: center;
  background-size: cover;
  background-image: url("../../images/HeaderBackground.jpg");
  background-repeat: no-repeat;
  height: 92.5vh;
  /**************** 1920 + *************/
}
header .logo {
  padding-top: 32vh;
  margin-left: 10px;
  text-align: center;
}
header h1 {
  margin-bottom: 5px;
  font-size: 48px;
}
header .logo_subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0.35em;
}
@media screen and (min-width: 1920px) {
  header form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
  }
  header .logo_subtitle {
    margin-bottom: 50px;
  }
}
header .logo-title {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: #5373FD;
}
.main-header ul {
  display: flex;
}
.main-header .logo-title__main {
  font-size: 24px;
}
.main-header span {
  padding-top: 3px;
}
.main-header svg {
  padding-top: 2px;
}
.main-header a {
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}
.main-header ul {
  gap: 25px;
}
.main-header .logo-title__main {
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 375px) and (max-width: 1023px) {
  .main-header {
    padding: 0 34px;
  }
  .main-header nav {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main-header {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1024px) {
  .main-header svg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1920px) {
  .main-header {
    padding: 0 300px;
  }
  .main-header ul {
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .main-header {
    padding: 0 134px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

.why {
  height: 71vh;
  padding-top: 132px;
  background-image: url("../../../images/WhyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*********************** styles for phones *****************/
  /************************ styles for tablet ****************/
  /***************** styles for laptop ******************/
  /*************************** for laptop -l *****************/
  /********************** for 1440px ****************/
  /******************************** for 1920 + px *****************/
}
.why img {
  width: 350px;
  height: 220px;
}
.why h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Aleo", serif;
  color: #FFFFFF;
  text-transform: capitalize;
}
.why p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 28px;
  color: #FFFFFF;
}
.why button {
  background-color: #5373FD;
  color: #FFFFFF;
  border: none;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 20px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .why {
    height: 76vh;
  }
  .why .flex-container {
    padding-top: 70px;
  }
  .why .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .why h2 {
    margin-bottom: 40px;
  }
  .why p {
    text-align: center;
    width: 250px;
  }
  .why p:first-child {
    margin-bottom: 15px;
  }
  .why img {
    display: none;
  }
  .why button {
    margin-top: 25px;
    width: 150px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .why {
    height: 70vh;
    text-align: center;
  }
  .why h2 {
    margin-bottom: 25px;
  }
  .why p {
    width: 550px;
    margin: 0 auto;
  }
  .why p:first-child {
    margin-bottom: 15px;
  }
  .why img {
    width: 280px;
    height: 180px;
    margin-top: 35px;
  }
  .why img:first-child {
    margin-right: 30px;
  }
  .why button {
    margin-top: 25px;
    height: 45px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .why {
    text-align: center;
  }
  .why h2 {
    margin-bottom: 40px;
  }
  .why .paragraphs {
    margin-bottom: 15px;
  }
  .why p {
    margin: 0 auto;
    width: 650px;
  }
  .why p:first-child {
    margin-bottom: 20px;
  }
  .why img {
    width: 315px;
    height: 180px;
  }
  .why img:first-child {
    margin-right: 40px;
  }
  .why button {
    margin-bottom: 20px;
    height: 45px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .why .flex-container {
    display: flex;
  }
  .why .content {
    margin-top: 50px;
  }
  .why h2 {
    margin-bottom: 24px;
  }
  .why p {
    margin-right: 85px;
    width: 650px;
  }
  .why p:first-child {
    margin-bottom: 15px;
  }
  .why .img-second {
    margin-top: 15px;
    margin-left: 35px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .why {
    height: 68vh;
  }
  .why button {
    height: 50px;
    width: 150px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .why {
    height: 67vh;
  }
  .why .flex-container {
    display: flex;
  }
  .why p {
    width: 650px;
  }
  .why p:first-child {
    padding-top: 30px;
    margin-bottom: 27px;
  }
  .why .content {
    padding-top: 60px;
    margin-right: 133px;
  }
  .why .img-second {
    margin-top: 13px;
    margin-left: 75px;
  }
  .why button {
    width: 213px;
    height: 60px;
    margin-top: 30px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

/********************** global styles **********************/
.steps {
  background: #333333;
  /************************* for smartphones ***************/
  /************************   for tablet    ******************/
  /************************ for tablet    *****************/
  /************************ for 1440 + px ****************/
  /*********************** for 1920px *******************/
}
.steps p {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 40px;
  color: #FFFFFF;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .steps {
    padding: 50px 0;
    text-align: center;
  }
  .steps svg {
    margin-bottom: 20px;
  }
  .steps p {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .steps {
    text-align: center;
  }
  .steps .flex-container {
    display: flex;
    padding: 40px 34px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .steps p {
    margin: 20px 40px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .steps {
    padding: 60px 0;
    background-image: url("../../../images/Line.svg");
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: 57%;
  }
  .steps .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 134px;
    text-align: center;
  }
  .steps svg {
    margin-bottom: 20px;
    background: #333333;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .steps {
    /******* for first 300  px XDDDDDDDDDDDDD xz kak make this better =( *************/
    background-image: url("../../../images/Line.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 52%;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) and (min-width: 1440px) and (max-width: 1720px) {
  .steps {
    background-size: 45%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .steps .flex-container {
    padding: 60px 300px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .steps svg {
    background-color: #333333;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .steps {
    background-position-x: 50%;
    padding: 57px 0;
    background-image: url("../../../images/Line.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: center;
  }
  .steps .flex-container {
    padding: 10px 337px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .steps svg {
    background-color: #333333;
    margin-bottom: 20px;
  }
  .steps p {
    width: 341px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

/***************** global styles ******************/
.book-now, .mountain {
  background-image: url("../../../images/mansion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 72.5vh;
  position: relative;
  /********************* for phones ****************/
  /******************** for tablet *****************/
  /******************* for laptop & 1440 + px *****************/
  /****************** for 1920 px ***************/
}
.book-now span, .mountain span {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  color: #FFFFFF;
}
.book-now h3, .mountain h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 0;
}
.book-now p, .mountain p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.book-now .content, .mountain .content {
  top: 23vh;
  position: absolute;
  background: #232323;
}
.book-now .booknow, .mountain .booknow {
  background: #5373FD;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .book-now, .mountain {
    background-position: center;
    display: flex;
    justify-content: center;
  }
  .book-now .content, .mountain .content {
    top: 18vh;
    width: 250px;
    margin: 0 auto;
    padding: 15px 25px;
  }
  .book-now .booknow, .mountain .booknow {
    margin-top: 15px;
    height: 40px;
    width: 100%;
  }
  .book-now .flex-container, .mountain .flex-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .book-now, .mountain {
    background-position: center;
  }
  .book-now .content, .mountain .content {
    width: 500px;
    padding: 20px 15px;
  }
  .book-now .booknow, .mountain .booknow {
    margin-top: 15px;
    height: 40px;
    width: 150px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .book-now .content, .mountain .content {
    padding: 30px 25px;
    width: 650px;
  }
  .book-now .booknow, .mountain .booknow {
    margin-top: 20px;
    height: 50px;
    width: 195px;
  }
}
@media screen and (min-width: 1920px) {
  .book-now .content, .mountain .content {
    box-sizing: border-box;
    padding: 44px 32px;
    width: 650px;
    background: #232323;
  }
  .book-now button, .mountain button {
    height: 60px;
    width: 213px;
    margin-top: 24px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

.mountain {
  background-image: url("../../../images/spain-1859434_1280 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 72.5vh;
  background-position: left;
  /*************** for phones *************/
  /****************** for 1440+px *********/
}
.mountain .content {
  right: 0;
  position: absolute;
}
.mountain .flex-container {
  position: relative;
  display: flex;
  justify-content: right;
  height: 100%;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .mountain .content {
    position: relative;
    height: 60.5%;
    margin: 0;
  }
  .mountain .flex-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .mountain .content {
    width: 635px;
  }
}

/*********************** font families ***********/
/*********************** weights ****************/
/********************** sizes **************/
.container {
  min-width: 375px;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .container {
    padding: 0 134px;
  }
}

.comments {
  background-image: url("../../../images/comments_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: left;
  padding-top: 120px;
  padding-bottom: 180px;
  /********************** for phones ****************/
  /************* for 300px XDDD ************/
  /********************** for tablets **************/
  /********************** for laptops ************/
  /************** for 1920 + px **********/
}
.comments h2 {
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}
.comments p {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
}
.comments .subtitle {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}
.comments .text {
  letter-spacing: 0.1em;
  font-weight: 300;
}
.comments .text:before {
  content: url("../../../images/quote-left.svg");
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
.comments .content {
  display: flex;
  text-align: left;
  background: #333333;
  opacity: 0.9;
}
@media screen and (min-width: 375px) and (max-width: 521px) {
  .comments h2 {
    font-size: 31px;
    margin-bottom: 30px;
  }
  .comments img {
    display: none;
  }
  .comments .content {
    justify-content: center;
    padding: 20px 0;
  }
  .comments .content-inside {
    width: 300px;
    text-align: center;
    line-height: 40px;
  }
  .comments .subtitle {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 522px) and (max-width: 767px) {
  .comments .content {
    justify-content: left;
  }
  .comments img {
    display: none;
  }
  .comments .content-inside {
    line-height: 50px;
    padding: 23px 20px;
  }
  .comments .subtitle {
    margin-bottom: 15px;
  }
  .comments h2 {
    font-size: 31px;
    margin-bottom: 30px;
  }
  .comments .content {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments {
    height: 40vh;
  }
  .comments h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .comments img {
    width: 300px;
    height: 250px;
  }
  .comments .content {
    align-items: center;
    padding: 30px 25px;
  }
  .comments .content-inside {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .comments img {
    justify-self: center;
    align-self: center;
    width: 350px;
    height: 250px;
  }
  .comments h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .comments .content {
    padding: 30px;
  }
  .comments .content-inside {
    padding: 25px 30px;
  }
}
@media screen and (min-width: 1440px) {
  .comments h2 {
    font-size: 36px;
    padding-bottom: 60px;
  }
  .comments .subtitle {
    padding-bottom: 15px;
  }
  .comments .content-inside {
    padding: 48px 60px;
  }
}

/*# sourceMappingURL=style.css.map */
