@use '../../vars/mixins';
@use '../../vars/colors';
@use '../../vars/fonts';
@use '../../vars/displays';
@import '../../details/container';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: colors.$button-background;
  ul {
    display:flex;
  }
  .logo-title__main {
    font-size: fonts.$navbar-logo_size;
  }
  span {
    padding-top: 3px;
  }
  svg {
    padding-top: 2px;
  }
  a {
    text-transform: uppercase;
    font-family: fonts.$secondary-family;
    font-weight: fonts.$paragraph-weight;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: colors.$default-white;
    font-size: fonts.$navbar_hrefs-size;
  }
  ul {
    gap: 25px;
  }
  @include mixins.media_accurate(displays.$xs, displays.$sm - 1px) {
    padding: 0 34px;
    nav {
      display: none;
    }
  }
  @include mixins.media(displays.$sm) {
    svg {
      display: none;
    }
  }
  @include mixins.media_accurate(displays.$sm, displays.$largest - 1px){
    padding: 0 34px;
  }
}