/*********************** font families ***********/
$primary-family:  'Josefin Sans', sans-serif;
$secondary-family: 'Aleo', serif;

/*********************** weights ****************/
$logo-weight: 700;
$logo-after: 400;
$paragraph-weight: 400;

/********************** sizes **************/
$logo-title_size: 48px;
$logo-subtitle_size: 22px;
$navbar-logo_size: 24px;
$navbar_hrefs-size: 14px;
$h2-size: 36px;

$paragraph-size: 16px;
